@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;700&display=swap");

/* ----------------------------------------- Variable Start */
:root {
  --color-primary-0: #cce5ff;
  --color-primary-1: #aad4ff;
  --color-primary-2: #80bfff;
  --color-primary-3: #55aaff;
  --color-primary-4: #2b94ff;
  --color-primary-5: #007fff;
  --color-primary-6: #006ad4;
  --color-primary-7: #0055aa;
  --color-primary-8: #004080;
  --color-primary-9: #002a55;
  --color-primary-10: #001933;

  --color-neutral-white: #fff;
  --color-neutral-0: #eff0f2;
  --color-neutral-1: #e4e6e9;
  --color-neutral-2: #d6dade;
  --color-neutral-3: #c8ced3;
  --color-neutral-4: #bbc1c8;
  --color-neutral-5: #adb5bd;
  --color-neutral-6: #90979d;
  --color-neutral-7: #73797e;
  --color-neutral-8: #575b5f;
  --color-neutral-9: #3a3c3f;
  --color-neutral-10: #232426;
  --color-neutral-black: #131314;

  --tablet-min-width: 768px;
  --desktop-min-width: 1025px;
  --container-max-width: 1280px;
  --content-container-max-width: 1000px;
}

/* ----------------------------------------- Variable End */
/* ----------------------------------------- Global Start*/
html,
body {
  scroll-behavior: smooth;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  background-color: var(--color-neutral-white);
  color: var(--color-neutral-black);
}

main {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  padding-top: 9rem;
  padding-bottom: 9rem;
  padding: 9rem 1rem;
}

.container {
  max-width: var(--container-max-width);
  margin: auto;
}

.content-container {
  max-width: var(--content-container-max-width);
  margin: auto;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 125%;
}

h1 {
  font-size: 2.75rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: var(--color-primary-6);
}

a:hover {
  text-decoration: underline;
}

a button {
  cursor: pointer;
}

.btn {
  border-radius: 4rem;
  background-color: var(--color-primary-5);
  color: var(--color-neutral-white);
  border: none;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 2.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: transform 0.25s;
}

.btn:hover {
  text-decoration: none;
  transform: translateY(-0.2em);
}

.btn.secondary {
  background-color: var(--color-neutral-white);
  border: 1px solid var(--color-neutral-0);
  color: var(--color-neutral-black);
}

.btn.inverted {
  background-color: var(--color-neutral-white);
  color: var(--color-primary-6);
}

@media only screen and (min-width: 768px) {
  main {
    gap: 9rem;
  }

  h1 {
    font-size: 6rem;
  }
}

/* ----------------------------------------- Global End */
/* ----------------------------------------- Header Start */
header.header {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem;
  gap: 1rem;
}

.header--title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header--name {
  color: var(--color-primary-5);
}

header.header nav {
  display: none;
}

header.header nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 1rem;
  padding-left: 0;
  flex-wrap: wrap;
}

header.header nav ul li a {
  color: var(--color-neutral-black);
}

header.header nav ul li a.btn {
  color: var(--color-neutral-white);
}

#menu-btn {
  background: none;
  border: none;
}

@media only screen and (min-width: 768px) {
  header.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  header.header nav {
    display: block;
  }

  #menu-btn {
    display: none;
  }
}

/* ----------------------------------------- Header End */
/* ----------------------------------------- Hero Start */

#hero.content-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero--intro-text,
.hero--description {
  font-size: 1.5rem;
  color: var(--color-primary-5);
}

.hero--description {
  color: var(--color-neutral-7);
}

.hero--description span {
  color: var(--color-neutral-black);
}

.hero--social-links {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.hero--social-links a {
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-black);
}

@media only screen and (min-width: 768px) {
  .hero--intro-text,
  .hero--description {
    font-size: 2rem;
  }
}

/* ----------------------------------------- Hero End */
/* ----------------------------------------- About Start */

#about.content-container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.about--content {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.about--content > div {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.about--content--skills {
  display: flex;
  gap: 0.5rem;
}

.about--content--skills > div {
  display: flex;
  height: 2.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid var(--color-neutral-0);
  align-items: center;
  border-radius: 4rem;
}

@media only screen and (min-width: 768px) {
  #about.content-container {
    flex-direction: row;
  }
}

/* ----------------------------------------- About End */
/* ----------------------------------------- Projects Start */

#projects.content-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.project--item {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.project--item--description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project--item--actions {
  display: flex;
  gap: 0.5rem;
}

@media only screen and (min-width: 768px) {
  .project--item {
    flex-direction: row;
    align-items: center;
    gap: 4rem;
  }
}

/* ----------------------------------------- Projects End */
/* ----------------------------------------- Contact Start */

#contact.content-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2.5rem;
  background-color: var(--color-primary-5);
  color: var(--color-neutral-white);
  border-radius: 1.5rem;
}

#contact.content-container a {
  width: fit-content;
}

@media only screen and (min-width: 768px) {
  #contact.content-container {
    padding: 3rem;
  }
}

/* ----------------------------------------- Contact End */
